<form th:action="@{/deleteFeature}" th:object="${featureForm}" method="post">

	<input type="hidden" th:field="*{featureId}"/>
	<input type="hidden" th:field="*{pitchId}"/>
	
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
		    	<button type="button" class="close" data-dismiss="modal" aria-label="Close" disabled="disabled"><span data-dismiss="modal" aria-hidden="true">&times;</span></button>
		        <h4 class="inline-block modal-title" id="myModalLabel">Deleting feature</h4>
			</div>
			<div class="modal-body" id="">
				<div class="form-group row">
					<div class="col-sm-12">
						<label>Feature</label>
						<input type="text" class="form-control" id="feature-input" th:field="*{feature}" readonly="readonly"/>
					</div>
				</div>
			</div>
			<div class="modal-footer">
		    	<h4 class="inline-block no-margin confirmationMessage"></h4>
		    	<div class="pull-right">
		    		<button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
		            <button type="button" class="deleteFeatureConfirm btn btn-danger">Delete feature</button>
		        </div>
	        </div>
		</div>
	</div>
</form>
<script>
	$(".deleteFeatureConfirm").click(function(){
		var url = $(this).parents("form").attr("action");
		var data = $(this).parents("form");
		
		$(this).html("Confirm").removeClass("btn-danger ").addClass("btn-danger deleteFeatureChanges");
		$(".confirmationMessage").html("Are you sure you wish to delete this feature?");
		
		$(".deleteFeatureChanges").click(function(){
			$.ajax({
				url: url,
				type: "post",
				data: data.serialize(),
				success : function(response){
					if (response.redirect) {
			    		window.location.reload();
			    	}else{		
			    		$(".replaceable").html(response);
			    	}
			    },error: function(){
			    }
			});
		});
	});
</script>