<!DOCTYPE html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>Kickabout</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<div th:replace="fragments/newHeader">Header</div>
	<div class="jumbotron default">
		<div class="col-sm-12" align="center">
			<h2>
				<span class="header-pitches" th:text="|${pitch.pitchLocation.company} Pitch ${pitch.pitchNumber}|"></span>
			</h2>
			<form th:action="@{/managePitch}" method="get">
				<div class="pitches-table-holder col-sm-offset-3 col-sm-6" align="center">
					<div class="bookings-table">
						<table class="table">
							<thead>
								<tr>
									<th class="col-sm-2 text-center">Features</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="pitchFeature : ${pitchFeatures}">
									<td class="col-sm-6 text-center" th:text="${pitchFeature.feature}"> </td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>