<!DOCTYPE html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>Kickabout</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<div th:replace="fragments/newHeader">Header</div>
	<div class="jumbotron default">
			<div class="col-sm-12">
			
<!-- 				<div class="col-sm-4" align="center">
					<h2 align="center">
						<span class="header-pitches">Sports</span>
					</h2>
					<div class="pitches-table-holder col-sm-12" align="center">
						
						<form method="post" th:action="@{pitchSports}" th:object="${sportsForm}">
						<input type="hidden" th:value="pitchId" th:field="*{pitchId}"/>
						<input type="hidden" th:value="pitchSports" th:field="*{pitchSports}"/>
						
						<div class="sports-table">
							<table class="table">
									<tbody>
										<tr th:each="pitchSport : ${pitchSports}">
											<td class="col-sm-2  text-left" th:text="${pitchSport.sport}" th:field="*{pitchSports}"> </td>
											<td class="col-sm-1 text-right">
												<input type="checkbox" th:text="${pitchSport.available}" th:value="${pitchSport.available}" th:field="*{available}"/>
											</td>
											<td class="col-sm-2 text-right">
											<select class="form-control" id="sport-input" th:field="*{available}">
												<option value="" th:text="${pitchSport.availability}"></option>
												<option value="available" >available</option>
												<option value="unavailable" >unavailable</option>
											</select>
											</td>
										</tr>
									</tbody>
								</table>
						</div>
						<input type="submit" value="Save Sports" class="btn btn-success create-button"/>
						</form>
					</div>
				</div> -->
				
				
				
				
				<div class="col-sm-4" align="center">
					<h2 align="center">
						<span class="header-pitches">Sports</span>
					</h2>
					<div class="pitches-table-holder col-sm-12" align="center">
						
						<form method="post" th:action="@{pitchSports}" th:object="${sportsForm}">
						<input type="hidden" th:value="pitchId" th:field="*{pitchId}"/>
						<input type="hidden" th:value="pitchSports" th:field="*{pitchSports}"/>
						
						<div class="sports-table">
							<table class="table">
									<tbody>
										<tr th:each="pitchSport, stat : *{pitchSports}">
											<input type="hidden" th:field="*{pitchSports[__${stat.index}__].id}" />
											<input type="hidden" th:field="*{pitchSports[__${stat.index}__].sport}" />
											<td class="col-sm-2  text-left" th:text="${pitchSport.sport}"></td>
											<td class="col-sm-1 text-right">
												<input type="checkbox" th:field="*{pitchSports[__${stat.index}__].available}" />
											</td>
										</tr>
									</tbody>
								</table>
						</div>
						<input type="submit" value="Save Sports" class="btn btn-success create-button"/>
						</form>
					</div>
				</div>
				
				
				
				
				
				<form th:action="@{/managePitch}" method="get">
				<div class="col-sm-4" align="center">
					<h2 align="center">
						<span class="header-pitches" th:text="|Pitch ${pitch.pitchNumber} Features|"></span>
					</h2>
					
						<div class="pitches-table-holder col-sm-12" align="center">
							<div class="features-table">
								<table class="table">
									<tbody>
										<tr th:each="pitchFeature : ${pitchFeatures}">
											<td class="col-xs-2  text-left" th:text="${pitchFeature.feature}"> </td>
											<td class="col-xs-1 text-right">
												<span class="btn-group btn-group-xs">
													<a class="btn btn-info editFeatureBtn" th:id="${pitchFeature.id}" data-toggle="modal" data-target="#editFeatureModal"><i class="fa fa-pencil"></i></a>
									  			</span>
											</td>
											<td class="col-xs-1 text-right">
												<span class="btn-group btn-group-xs">
													<a class="btn btn-danger deleteFeatureBtn" th:id="${pitchFeature.id}" data-toggle="modal" data-target="#deleteFeatureModal"><i class="fa fa-trash-o danger"></i></a>
									  			</span>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<a class="btn btn-success addFeatureBtn" th:id="${pitch.id}" data-toggle="modal" data-target="#addFeatureModal">Add New Feature</a>
						</div>
					
				</div>
				</form>
				
				<div class="col-sm-4" align="center">
					<h2 align="center">
						<span class="header-pitches">Image for pitch</span>
					</h2>
					<div class="pitches-table-holder col-sm-12" align="center">
						<br></br>
				  		<img th:src="@{/image(pitchId=${pitch.id})}" class ="img-responsive"/>
				  		<br></br>
				  		<br></br>
						<form class="upload-form" action="#" th:action="@{uploadImage} + '?' + ${_csrf.parameterName} + '=' + ${_csrf.token}" th:object="${pitchForm}" method="post" enctype="multipart/form-data">
				  			<input type="hidden" th:value="pitchId" th:field="*{pitchId}"/>
				  			<input hidden="hidden" id="uploadType" name="uploadType"></input>
							<div class="col-sm-8">
								<input type="file" name="file" style="background-color: white;" class="form-control" id="file-name" readonly="readonly" />
							</div>
							<div class="col-sm-4">
				  				<input type="submit" class="btn btn-block btn-success" value="Change image" />
				  			</div>
				  			<br></br>
				  			<br></br>
				  			<br></br>
				  			<div class="text-center" style="color:red" if="${#fields.hasAnyErrors()}">
								<p th:each="err : ${#fields.allErrors()}" th:text="${err}">...</p>
							</div>
						</form>
					</div>
				</div>
				
			</div>
	</div>
	
	<div id="editFeatureModal" class="editFeatureModal modal fade" tabindex="-1" role="dialog" aria-labelledby="editFeatureModal">
		<div class="replaceable">
		</div>
	</div>
	<div id="deleteFeatureModal" class="deleteFeatureModal modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteFeatureModal">
		<div class="replaceable">
		</div>
	</div>
	<div id="addFeatureModal" class="addFeatureModal modal fade" tabindex="-1" role="dialog" aria-labelledby="addFeatureModal">
		<div class="replaceable">
		</div>
	</div>
	
	<script>
		$(".editFeatureBtn").click(function(){
			var featureId = $(this).attr("id");
			$.ajax({
			 	url: base_url + "editFeature",
			 	data: {id : featureId},
			 	success: function(result){
			 		$(".replaceable").html(result);
			 	}
			});
		});
		
		$(".deleteFeatureBtn").click(function(){
			var featureId = $(this).attr("id");
			$.ajax({
			 	url: base_url + "deleteFeature",
			 	data: {id : featureId},
			 	success: function(result){
			 		$(".replaceable").html(result);
			 	}
			});
		});
		
		$(".addFeatureBtn").click(function(){
			var pitchId = $(this).attr("id");
			$.ajax({
			 	url: base_url + "addFeature",
			 	data: {id : pitchId},
			 	success: function(result){
			 		$(".replaceable").html(result);
			 	}
			});
		});
	</script>
	
</body>
</html>