<!DOCTYPE html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>Kickabout</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<div th:replace="fragments/newHeader">Header</div>
		<div class="container">
			<form method="post" th:action="@{/addPitch}" th:object="${pitchForm}">
			<input type="hidden" th:value="locationId" th:field="*{locationId}"/>
			<div class="jumbotron default">
				<div class = "general-header">
					<h2 class="text-center">New pitch</h2>
					<br></br>
					<div class="col-sm-offset-4 col-sm-2 text-center">
						<span>Pitch Number</span>
					</div>
					<div class="col-sm-2">
		  				<input th:errorclass="input-form-error" type="text" class="form-control" id="pitch-number-input" th:field="*{pitchNumber}"/>
						<br></br>
					</div>
					<div class="col-sm-offset-4 col-sm-2 text-center">
						<span>Pitch Size</span>
						
					</div>
					<div class="col-sm-2">
		  				<select th:errorclass="input-form-error" class="form-control" th:field="*{pitchSize}">
							<option value="" >Select size</option>
							<option value="Small">Small</option>
							<option value="Medium">Medium</option>
							<option value="Large">Large</option>
						</select>
						<br></br>
					</div>
					<div class="col-sm-offset-4 col-sm-2 text-center">
						<span>Available from</span>
					</div>
					<div class="col-sm-2">
		  				<input th:errorclass="input-form-error" type="text" class="form-control" id="available-from-input" th:field="*{availableFrom}"/>
						<br></br>
					</div>
					<div class="col-sm-offset-4 col-sm-2 text-center">
						<span>Available to</span>
					</div>
					<div class="col-sm-2">
		  				<input th:errorclass="input-form-error" type="text" class="form-control" id="available-to-input" th:field="*{availableTo}"/>
						<br></br>
					</div>
					<div class="col-sm-offset-4 col-sm-2 text-center">
						<span>Cost per hour</span>
					</div>
					<div class="col-sm-2">
						<div class="input-group form-group">
							<span class="input-group-addon"><i class="fa fa-gbp"></i></span>
		  					<input th:errorclass="input-form-error" type="text" class="form-control" id="cost-input" th:field="*{cost}"/>
							<br></br>
						</div>
					</div>
					<div class="create-btn col-sm-offset-4 col-sm-2"></div>
					<div class="col-sm-2">
						<input type="submit" value="Save pitch" class="btn btn-block btn-success create-button"/>
					</div>
				</div>
			</div>
			</form>
		</div>
</body>
</html>