<form th:action="@{/cancelMyBooking}" th:object="${bookingForm}" method="post">

	<input type="hidden" th:field="*{bookingId}"/>
	
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-body">
		    	<h4 class="inline-block no-margin confirmationMessage"></h4>
		    	<div class="pull-right">
		    		<button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
		            <button type="button" class="cancelBookingConfirm btn btn-danger">Cancel booking</button>
		        </div>
	        </div>
		</div>
	</div>
	
</form>
<script>
	$(".cancelBookingConfirm").click(function(){
		var url = $(this).parents("form").attr("action");
		var data = $(this).parents("form");
		
		$(this).html("Confirm").removeClass("btn-danger ").addClass("btn-danger cancelBookingChanges");
		$(".confirmationMessage").html("Are you sure you wish to cancel this booking?");
		
		$(".cancelBookingChanges").click(function(){
			$.ajax({
				url: url,
				type: "post",
				data: data.serialize(),
				success : function(response){
					if (response.redirect) {
			    		window.location.reload();
			    	}else{		
			    		$(".replaceable").html(response);
			    	}
			    },error: function(){
			    }
			});
		});
	});
</script>