<!DOCTYPE html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>Kickabout</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
	<link rel="stylesheet" href="/resources/demos/style.css"/>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
	<div th:replace="fragments/header">Header</div>
	<div class="jumbotron default">
		<div class="col-sm-offset-1 col-sm-10" align="center">
			<h2>
			<span class="header-pitches">Make Booking</span>
			</h2>
		</div>
		
		<form method="post" th:action="@{/booking/makeBooking}" th:object="${venueForm}">
				
				<input type="hidden" th:value="${pitch.id}" th:field="*{pitchId}"/>
				<input type="hidden" th:value="sport" th:field="*{sport}"/>
				<input type="hidden" th:value="date" th:field="*{date}"/>
				<input type="hidden" th:value="time" th:field="*{time}"/>
				<input type="hidden" th:value="endTime" th:field="*{endTime}"/>
				
				<div class="col-sm-12">
				<div class="col-sm-3 booking-info-form" align="center">
					<h4>Pitch Details</h4>
					<br></br>
					<img class="btn pitches-gallery pitchImageBtn" th:id="${pitch.id}" data-toggle="modal" data-target="#pitchImageModal" style="vertical-align:middle" th:src="@{/pitchImage(pitchId=${pitch.id})}"/>
					<br></br><br></br>
					<p th:text="|Location - ${pitch.pitchLocation.name}|"></p>
					<p th:text="|Pitch Number - ${pitch.pitchNumber}|"></p>
					<p th:text="|Environment - ${pitch.environment}|"></p>
					<p th:text="|Surface - ${pitch.surface}|"></p>
				</div>
				<div class="col-sm-3 booking-info-form" align="center">
					<h4>Booking info</h4>
					<br></br>
					<p th:text="|Sport - ${sport}|"></p>
					<p th:text="|Date - ${date}|"></p>
					<p th:text="|Time - ${time}-${endTime}|"></p>
					<p th:text="|Cost - &pound;${pitch.cost}|"></p>
				</div>
				<div class="col-sm-5 enter-info-form">
					<h4 align="center">Enter details</h4>
					<div class="col-sm-offset-1 col-sm-10">
						<br></br>
						<div class="input-group form-group">
							<span class="input-group-addon"><i class="fa fa-user"></i></span>
							<input th:errorclass="input-form-error" type="text" class="form-control" id="name-input" placeholder="Enter Name..." th:field="*{name}"/>
						</div>
					</div>
					<div class="col-sm-offset-1 col-sm-10">
						<div class="input-group form-group">
							<span class="input-group-addon"><i class="fa fa-envelope-square"></i></span>
							<input th:errorclass="input-form-error" type="text" class="form-control" id="email-input" placeholder="Enter Email..." th:field="*{email}"/>
						</div>
					</div>
					<div class="col-sm-offset-1 col-sm-10">
						<div class="col-sm-4">
							Pay by cash <input type="radio"/>
						</div>
						<div class="col-sm-4">
							Pay by card <input type="radio"/>
						</div>
					</div>
					<div class="col-sm-offset-8 col-sm-3">
						<br></br>
						<input type="submit" value="Book" class="btn btn-block btn-success create-button" onclick="window.location.href=BookingSuccessful.html" />
					</div>
				</div>
				</div>
		</form>
	</div>

	<div id="pitchImageModal" class="pitchImageModal modal fade" tabindex="-1" role="dialog" aria-labelledby="pitchImageModal">
		<div class="replaceable">
		</div>
	</div>
	
	<script>
		$(".pitchImageBtn").click(function(){
			var bookingId = $(this).attr("id");
			$.ajax({
			 	url: base_url + "expandPitchImage",
			 	data: {id : bookingId},
			 	success: function(result){
			 		$(".replaceable").html(result);
			 	}
			});
		});
	</script>
	
</body>
</html>