<!DOCTYPE html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Kickabout</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<div th:replace="fragments/newHeader">Header</div>
	<div class="container">
		<form method="post" th:action="@{/contact}" th:object="${contactForm}">
		
		<div class="jumbotron default">
			<h2 class="text-center">Contact us</h2>
			<div class="text-center">
	  			<span style="color:green">Your email has been sent, please allow time for a reply!</span>
	  		</div>
	  		<br></br>
			<div class="col-sm-offset-3 col-sm-6">
				<div class="input-group form-group">
					<span class="input-group-addon"><i class="fa fa-user"></i></span>
					<input th:errorclass="input-form-error" type="text" class="form-control" id="name-input" placeholder="Name..." th:field="*{name}"/>
				</div>
			</div>
			
			<div class="col-sm-offset-3 col-sm-6">
				<div class="input-group form-group">
					<span class="input-group-addon"><i class="fa fa-envelope-square"></i></span>
					<input th:errorclass="input-form-error" type="text" class="form-control" id="email-input" placeholder="Email Address..." th:field="*{email}"/>
				</div>
			</div>
			
			<div class="col-sm-offset-3 col-sm-6">
				<div class="input-group form-group">
					<span class="input-group-addon"><i class="fa fa-pencil-square-o"></i></span>
					<input th:errorclass="input-form-error" type="text" class="form-control" id="subject-input" placeholder="Email Subject..." th:field="*{subject}"/>
				</div>
			</div>
			
			<div class="col-sm-offset-3 col-sm-6">
				<div class="form-group">
  					<textarea th:errorclass="input-form-error" class="form-control" rows="5" id="message-input" placeholder="Enter your message here..." th:field="*{message}"></textarea>
				</div>
			</div>
			
			<div class="create-btn col-sm-offset-7 col-sm-2">
				<input type="submit" value="Send" class="btn btn-block btn-success create-button" onclick="window.location.href=ContactSuccessful.html"/>
			</div>
				
		</div>
		</form>	
	</div>
</body>
</html>