<!DOCTYPE html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Kickabout</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<div th:replace="fragments/newHeader">Header</div>
	<form method="post" th:action="@{/manageSuperAdminAccount}" th:object="${accountForm}">
	<input type="hidden" th:value="accountId" th:field="*{accountId}"/>
	
	<div class="jumbotron default">
		<h2 class="text-center">Kickabout Admin</h2>
		<div class="col-sm-12">
			<div class="panel-body">
	  			<div class="text-center">
	  				<p><a class="u" href="/addNewUser" th:href="@{/addNewUser}">Add user</a></p>
	  			</div>
	  			<div class="text-center">
	  				<p><a class="u" href="/viewAdminUsers" th:href="@{/viewAdminUsers}">View admin users</a></p>
	  			</div>
	  			<div class="text-center">
	  				<p><a class="u" href="/viewStandardUsers" th:href="@{/viewStandardUsers}">View standard users</a></p>
	  			</div>
	  			<div class="text-center">
	  				<p><a class="u" href="">View bookings</a></p>
	  			</div>
	  			<div class="text-center">
	  				<p><a class="u" href="">Change account details</a></p>
	  			</div>
	  		</div>
		</div>
	</div>
	
	</form>
</body>
</html>