<!DOCTYPE html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Kickabout</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<div th:replace="fragments/newHeader">Header</div>
	<form method="post" th:action="@{/manageClientAccount}" th:object="${accountForm}">
	<input type="hidden" th:value="accountId" th:field="*{accountId}"/>
	
		<div class="jumbotron default">
			<h2 class="text-center">My Account</h2>
			<div class="col-sm-offset-5 col-sm-2">
	  			<div class="panel-body">
	  			<div class="text-center">
	  				<a href="myBookings" th:href="@{myBookings(accountId=${accountId})}">View my bookings</a>
	  				<a class="btn deleteAccountBtn" th:id="${account.id}" data-toggle="modal" data-target="#deleteAccountModal">Delete my account</a>
	  			</div>
	  			<br></br>
	  				<span>Email address</span>
	  				<input th:errorclass="input-form-error" type="text" class="form-control" id="email-input" th:field="*{email}"/>
	  			<br></br>
	  				<span>Name</span>
	  				<input th:errorclass="input-form-error" type="text" class="form-control" id="name-input" th:field="*{name}"/>
	  			<br></br>
	  				<span>Telephone number</span>
	  				<input th:errorclass="input-form-error" type="text" class="form-control" id="telephone-input" th:field="*{telephone}"/>
	  			</div>
	  			<div class="create-btn col-sm-offset-2 col-sm-8" style="margin-bottom: 20px;">
					<input type="submit" value="Save Changes" class="btn btn-block btn-success create-button" onclick="" />
				</div>
			</div>
		</div>
	</form>
	<div id="deleteAccountModal" class="deleteAccountModal modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteAccountModal">
		<div class="replaceable">
		</div>
	</div>
	<script>
		$(".deleteAccountBtn").click(function(){
			var accountId = $(this).attr("id");
			$.ajax({
			 	url: base_url + "deleteMyAccount",
			 	data: {id : accountId},
			 	success: function(result){
			 		$(".replaceable").html(result);
			 	}
			});
		});
	</script>
</body>
</html>