<!DOCTYPE html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>Kickabout</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<div th:replace="fragments/newHeader">Header</div>
		<div class="container">
			<form method="post" th:action="@{/addNewUser}" th:object="${accountForm}">
			<div class="jumbotron default">
				<h2 class="text-center">New user</h2>
				<br></br>
				<div class="col-sm-offset-4 col-sm-4">
					<span>User type:</span>
	  				<select class="form-control select-center" id="user-type-input" th:field="*{role}">
						<option value="" >Select role</option>
						<option value="ROLE_USER">User</option>
						<option value="ROLE_ADMIN">Admin</option>
						<option value="ROLE_SUPER_ADMIN">Super admin</option>
					</select>
					<br></br>
				</div>
				<div class="col-sm-offset-4 col-sm-4">
					<span>Name:</span>
	  				<input type="text" class="form-control text-center" id="name-input" th:field="*{name}"/>
					<br></br>
				</div>
				<div class="col-sm-offset-4 col-sm-4">
					<span>Email:</span>
	  				<input type="text" class="form-control text-center" id="email-input" th:field="*{email}"/>
					<br></br>
				</div>
				<div class="col-sm-offset-4 col-sm-4">
					<span>Password:</span>
	  				<input type="password" class="form-control text-center" id="password-input" th:field="*{password}"/>
					<br></br>
				</div>
				<div class="create-btn col-sm-offset-5 col-sm-2">
					<input type="submit" value="Add user" class="btn btn-block btn-success create-button"/>
				</div>
			</div>
			</form>
		</div>
</body>
</html>