<!DOCTYPE html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>Kickabout</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<div th:replace="fragments/newHeader">Header</div>
		<div class="container">
			<form method="post" th:action="@{/addNewUser}" th:object="${accountForm}">
			<div class="jumbotron default">
				<div class = "general-header">
					<h2 class="text-center">New user</h2>
					<br></br>
					<div class="col-sm-offset-4 col-sm-4">
						<!--/* Show general error message when form contains errors */-->
			    		<th:block th:if="${#fields.hasErrors('${accountForm.*}')}">
			        		<div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
			   			</th:block>
					</div>
					<div class="col-sm-offset-4 col-sm-4" th:classappend="${#fields.hasErrors('role')}? 'has-error'">
						<span>User type:</span>
		  				<select class="form-control select-center" id="user-type-input" th:field="*{role}">
							<option value="" >Select role</option>
							<option value="ROLE_ADMIN">Admin</option>
							<option value="ROLE_USER">User</option>
							<option value="ROLE_SUPER_ADMIN">Super admin</option>
						</select>
						<span class="help-block" th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Select a role</span>
						<br></br>
					</div>
					<div class="col-sm-offset-4 col-sm-4" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
						<span>Name:</span>
		  				<input type="text" class="form-control text-center" id="name-input" th:field="*{name}"/>
						<span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Enter a name</span>
						<br></br>
					</div>
					<div class="col-sm-offset-4 col-sm-4" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
						<span>Email:</span>
		  				<input type="text" class="form-control text-center" id="email-input" th:field="*{email}"/>
		  				<span class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect email</span>
						<br></br>
					</div>
					<div class="col-sm-offset-4 col-sm-4" th:classappend="${#fields.hasErrors('telephone')}? 'has-error'">
						<span>Telephone number:</span>
		  				<input type="text" class="form-control text-center" id="telephone-input" th:field="*{telephone}"/>
		  				<span class="help-block" th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}">Enter a telephone number</span>
						<br></br>
					</div>
					<div class="col-sm-offset-4 col-sm-4" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
						<span>Password:</span>
		  				<input type="password" class="form-control text-center" id="password-input" th:field="*{password}"/>
						<span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect password</span>
						<br></br>
					</div>
					<div class="create-btn col-sm-offset-5 col-sm-2">
						<input type="submit" value="Add user" class="btn btn-block btn-success create-button"/>
					</div>
				</div>
			</div>
			</form>
		</div>
</body>
</html>