<!DOCTYPE html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>Kickabout</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
	<link rel="stylesheet" href="/resources/demos/style.css"/>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css"/>
	<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
	  
	  <script>
	  $( function() {
	    $("#datepicker").datepicker({ 
	    	minDate: 0 ,
	    	 dateFormat: 'dd/mm/yy'});
	  } );
	  </script>
	  
	  <script>
	  $( function() {
	  $('#timepicker').timepicker({
	    timeFormat: 'h:mm p',
	    interval: 15,
	    minTime: '12',
	    maxTime: '11:00pm',
	    startTime: '12:00',
	    dynamic: false,
	    dropdown: true,
	    scrollbar: true});
	  });
	  </script>
	  
</head>
<body>
	<div th:replace="fragments/header">Header</div>
	<div class="jumbotron default">
		<div class="col-sm-12" align="center">
			<h2>
			<span class="header-pitches" th:text="|${location.name}|"></span>
			</h2>
			<br></br>
			<span th:text="|Open today ${from} - ${to}|"></span>
		</div>
		<div class="col-lg-4">
			<div class="col-sm-6">
				<div class="facilities-table">
					<table class="table">
						<thead>
						<tr>
							<th class="text-left">Facilities</th>
						</tr>
						</thead>
						<tbody>
							<tr th:each="facility : ${facilities}">
								<td class="col-sm-2" th:text="${facility}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="facilities-table">
					<table class="table">
						<thead>
						<tr>
							<th class="text-left">Sports available</th>
						</tr>
						</thead>
						<tbody>
							<tr th:each="sport : ${sports}">
								<td class="col-sm-2" th:text="${sport}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="facilities-table">
					<table class="table">
						<thead>
						<tr>
							<th class="text-left">Environments</th>
						</tr>
						</thead>
						<tbody>
							<tr th:each="environment : ${environments}">
								<td class="col-sm-2" th:text="${environment}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="facilities-table">
					<table class="table">
						<thead>
						<tr>
							<th class="text-left">Surfaces</th>
						</tr>
						</thead>
						<tbody>
							<tr th:each="surface : ${surfaces}">
								<td class="col-sm-2" th:text="${surface}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="col-sm-12">
				<img class="location-gallery" th:src="@{/locationImage(locationId=${location.id})}"/>
			</div>
			<div class="col-sm-12" align="center">
				<span th:text="|${location.addressLine1},  ${location.addressLine2},  ${location.city}, ${location.county}, ${location.postCode}|"></span>
				<br></br>
				<span th:text="|${location.email}|"></span>
				<br></br>
				<span th:text="|${location.telephone}|"></span>
			</div>
		</div>
		<div class="col-lg-4 requirements-form" align="center">
		<h4>Book this venue</h4>
		<br></br>
			<div class="col-lg-12">
				<div class="col-lg-offset-1 col-lg-10">
					<select class="form-control">
						<option value="" >Select sport</option>
						<option th:each="sport : ${sports}"
				  				th:value="${sport}"
				  				th:text="${sport}">
				  		</option>
					</select>
				</div>
			</div>
			<br></br><br></br><br></br>
			<div class="col-lg-12">
				<div class="col-lg-offset-1 col-lg-10">
						<input type="text" class="form-control" placeholder="Enter date" id="datepicker"/>
				</div>
			</div>
			<br></br><br></br><br></br>
			<div class="col-lg-12">
				<div class="col-lg-offset-1 col-lg-10">
						<input type="text" class="form-control" placeholder="Enter time" id="timepicker"/>
				</div>
			</div>
			<br></br><br></br><br></br>
			<div class="col-lg-12">
				<div class="col-lg-offset-1 col-lg-10">
					<select class="form-control">
						<option value="">Select a duration</option>
						<option th:value="${duration}" value="45">45 Minutes</option>
						<option th:value="${duration}" value="60">60 Minutes</option>
						<option th:value="${duration}" value="90">90 Minutes</option>
					</select>
				</div>
			</div>
			<br></br><br></br><br></br>
			<div class="col-lg-12">
				<div class="col-lg-5">
				</div>
				<div class="col-lg-6">
					<input type="submit" value="Search" class="btn btn-block btn-info"/>
				</div>
				<div class="col-lg-1">
				</div>
			</div>
		</div>
	</div>
	
<!-- 	<div id="makeBookingModal" class="makeBookingModal modal fade" tabindex="-1" role="dialog" aria-labelledby="makeBookingModal">
		<div class="replaceable">
		</div>
	</div>
	
	<script>
		$(".makeBookingBtn").click(function(){
			var bookVenueForm = $(this).attr("bookVenueForm");
			$.ajax({
			 	url: base_url + "checkBooking",
			 	data: {bookVenueForm : bookVenueForm},
			 	success: function(result){
			 		$(".replaceable").html(result);
			 	}
			});
		});
	</script> -->
	
	<!-- <script th:src="@{/resources/js/bootstrap.min.js}"></script> -->
</body>
</html>