<!DOCTYPE html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>Kickabout</title>
	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    <link rel="stylesheet" th:href="@{/resources/css/datepicker.css}"/>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.css}" />
</head>
<body>
	<div th:replace="fragments/newHeader">Header</div>
	<div class="col-md-12 col-centered clearfix">
		<div class="col-sm-12" align="center">
			<h2 class="">
			<span class="header-pitches" th:text="|${location.company.name}|"></span>
			</h2>
			<span class="header-pitches">Below you will see the pitch/ pitches available for this location</span>
		</div>
		<form th:action="@{/locations/pitches}" method="get">
			<div class="pitches-table-holder col-sm-offset-1 col-sm-10" align="center">
				<div class="pitches-table">
				<table class="table table-striped">
					<thead>
						<tr>
							<th class="col-sm-2 text-center">Pitch Number</th>
							<th class="col-sm-2 text-center">Cost Per Session</th>
							<th class="col-sm-2 text-center">Size Of Pitch</th>
							<th class="col-sm-2 text-center">Hours</th>
							<th class="col-sm-2"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="pitch : ${pitches}">
							<td class="col-sm-2 text-center" th:text="${pitch.pitchNumber}"> </td>
							<td class="col-sm-2 text-center" th:text="${'&pound;' + pitch.cost}"></td>
							<td class="col-sm-2 text-center" th:text="${pitch.pitchSize.prettyName}"></td>
							<td class="col-sm-2 text-center" th:text="|${pitch.availableFrom} - ${pitch.availableTo}|"></td>
							<td class="col-sm-2 text-center">
				  				<span class="btn-group">
				  					<a class="btn btn-info pitchInfoBtn" th:href="@{availability(pitchId=${pitch.id})}">Features And Availability</a>
				  				</span>
							</td>
						</tr>
					</tbody>
				</table>
				</div>
			</div>
		</form>
	</div>
</body>
</html>