<form th:action="@{/adminEditBooking}" th:object="${bookingForm}" method="post">

	<input type="hidden" th:field="*{bookingId}"/>
	
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
		    	<button type="button" class="close" data-dismiss="modal" aria-label="Close" disabled="disabled"><span data-dismiss="modal" aria-hidden="true">&times;</span></button>
		        <h4 class="inline-block modal-title" id="myModalLabel">Editing booking</h4>
			</div>
			<div class="modal-body" id="">
				<div class="form-group row">
					<div class="col-sm-12">
						<label>Name</label>
						<input th:errorclass="input-form-error" type="text" class="form-control" id="feature-input" th:field="*{name}"/>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-12">
						<label>Date</label>
						<input th:errorclass="input-form-error" type="text" class="form-control" id="feature-input" th:field="*{date}"/>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-12">
						<label>Booked from</label>
						<input th:errorclass="input-form-error" type="text" class="form-control" id="feature-input" th:field="*{bookedFrom}"/>
					</div>
				</div>
				<div class="form-group row">
					<div class="col-sm-12">
						<label>Booked to</label>
						<input th:errorclass="input-form-error" type="text" class="form-control" id="feature-input" th:field="*{bookedTo}"/>
					</div>
				</div>
				<div class="modal-footer">
			    	<h4 class="inline-block no-margin confirmationMessage"></h4>
			    	<div class="pull-right">
			    		<button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
			            <button type="button" class="saveBookingConfirm btn btn-success">Save changes</button>
			        </div>
	        </div>
			</div>
		</div>
	</div>
</form>
<script>
	$(".saveBookingConfirm").click(function(){
		var url = $(this).parents("form").attr("action");
		var data = $(this).parents("form");
		
		$(this).html("Confirm").removeClass("btn-success ").addClass("btn-danger saveBookingChanges");
		$(".confirmationMessage").html("Are you sure you wish to change this booking?");
		
		$(".saveBookingChanges").click(function(){
			$.ajax({
				url: url,
				type: "post",
				data: data.serialize(),
				success : function(response){
					if (response.redirect) {
			    		window.location.reload();
			    	}else{		
			    		$(".replaceable").html(response);
			    	}
			    },error: function(){
			    }
			});
		});
	});
</script>