<!DOCTYPE html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>Kickabout</title>
	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
	<div th:replace="fragments/newHeader">Header</div>
	<div class="col-md-12 col-centered clearfix">
		<div class="col-sm-12" align="center">
			<h2>
			<span class="header-pitches" th:text="|${pitch.pitchLocation.company} Pitch ${pitch.pitchNumber}|"></span>
			</h2>			
		</div>
	</div>
	<div class="col-sm-12">
		<div class="col-sm-6" align="center">
			<div class ="features-table">
			<table class="table">
				<thead>
					<tr>
						<th class="col-sm-6 text-center h3" th:text="Features"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="pitchFeature : ${pitchFeatures}">
						<td class="col-sm-6 text-center" th:text="${pitchFeature.feature}"> </td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
		<div class="col-sm-6">
			<div class ="pitch-gallery">
				<img src="../../../resources/images/pitch.jpg" th:src="@{/resources/images/pitch.jpg}" class ="img-responsive"/>				
			</div>
		</div>
	</div>
	
	<form method="post" th:action="@{/availability}" th:object="${pitchForm}">
		<div class="pitches-table-holder col-sm-offset-1 col-sm-10" align="center">
			
			<input type="hidden" th:value="pitchId" th:field="*{pitchId}"/>
				
				<div class="availability-table">
					<p style="color:red" th:text="|Please note this pitch is available ${pitch.availableFrom} - ${pitch.availableTo}|"></p>
					<p>If the table below is empty there has currently been no bookings for this date</p>
				
				<div class="col-sm-12">
					<div id="availabilityDateCal">
						<b><i class="fa fa-calendar fa-lg"></i> Booking Date</b>
						<input type="text" id="availability-picker-date" class="datepicker datepicker-style" data-date-format="dd/mm/yyyy" name="date" th:href="@{/availability}"></input>
						<button class="btn btn-default search-date-btn" type="submit"></button>
					</div>
				</div>
				
				<table class="table">
					<thead>
						<tr>
							<th class="col-sm-3 text-center" th:text="|${pitch.pitchLocation.company} Pitch ${pitch.pitchNumber} - Booking Schedule - ${date}|"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="availability : ${pitchAvailabilities}">
							<td class="col-sm-3 text-center" th:text="|${availability.bookedFrom} - ${availability.bookedTo}|"> </td>
						</tr>
					</tbody>
				</table>
				
				<span class="btn-group">
					<a class="btn btn-success bookingBtn" th:href="@{booking/newBooking(pitchId=${pitch.id}, date=${date})}">Book for this date!</a>
				</span>
				  	
				</div>
			</div>
	</form>
	<script th:src="@{/resources/js/bootstrap-datepicker.js}"></script>
    <script th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script th:src="@{/resources/js/pitchAvailability.js}"></script>
</body>
</html>