<!DOCTYPE html>
<html class="no-js" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>Kickabout</title>
	<meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
	<div th:replace="fragments/newHeader">Header</div>
	<div class="col-sm-12" align="center">
			<h2 class="">
			<span class="header-pitches">Pitch Availability</span>
			</h2>
	</div>
	<form th:action="@{/availability}" method="get">
		<div class="pitches-table-holder col-sm-offset-1 col-sm-6" align="center">
				<div class="pitches-table">
				<table class="table table-striped">
					<thead>
						<tr>
							<th class="col-sm-3 text-center">Time</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="availability : ${pitchAvailabilities}">
							<td class="col-sm-3 text-center" th:text="|${availability.bookedFrom} - ${availability.bookedTo}|"> </td>
						</tr>
					</tbody>
				</table>
				</div>
			</div>
	</form>
</body>
</html>